{% extends "base.html" %}
{% block content %}
  <a href="{% url 'view_menu' menu_item.menu.restaurant.id %}"><button>Back to Menu</button></a>
  <h2>Review {{ menu_item.name }}</h2>
  
  <form method="post">
    {% csrf_token %}
    <label>Rating:</label>
    <input type="number" step="0.1" min="1.0" max="10.0" name="rating" required>
    <br>
    <label>Review (optional):</label>
    <textarea name="review_text"></textarea>
    <br>
    <label><input type="checkbox" name="is_public" checked> Make this review public (will appear on your feed)</label>
    <br>
    <button type="submit">Submit Review</button>
  </form>
{% endblock %}